<div class="hero-section">
  <div class="hero-text">
    <h1 id="business">K.Dub</h1>
    <h1 id="business" style="text-decoration:underline; text-decoration-thickness:2px;">Photography</h1>
    <br>
    <p id="slogan">"Capturing beauty, creating dreams. Where every pose tells a story."</p>
    <br>
    <div class="email-and-booking">
      <%= mail_to "k.dubphotographyco@gmail.com", "Email me!", class: "email-link" %>
      <%= link_to "Book a session!", "https://kdubphotography.hbportal.co/public/65a8c2747cbd3700305214b2", class: "book-link" %>
    </div>
  </div>
</div>

<div class="about-me">
  <div class="about-me-text">
    <ul class="about-me-blurb">
      <li><h3>Hello!</h3></li>
      <li><p>My name is Kyle! I'm a Colorado based photographer, and I love what I do!
      To be creative is my passion. When I'm not shooting, you can find me running around and 
      playing with my son, playing video games, or going out for good food and an IPA and a movie 
      with friends! Thank you so much for visiting, and I look forward to 
      providing you with timless photos. 
      </p></li>
    </ul>
    <%= image_tag("me1.jpg", class: "me") %>
  </div>
</div>

<div class="testimonials">
  <div class="card">
    <%= image_tag("bre_review.jpg")%>
  </div>
  <div class="card">
    <%= image_tag("bre_review.jpg")%>
  </div>
  <div class="card">
    <%= image_tag("bre_review.jpg")%>
  </div>
</div>
