<div class="portraits-head">
  <h1>Portraits</h1>
</div>
<br>
<br>
<div class="gallery-container">
  <div class="portrait-gallery">
    <div class="photo">
      <%= image_tag("Jaclyn1") %>
    </div>
    <div class="photo">
      <%= image_tag("Jaclyn2") %>
    </div>
    <div class="photo">
      <%= image_tag("Jaclyn3") %>
    </div>
    <div class="photo">
      <%= image_tag("Jaclyn4") %>
    </div>
    <div class="photo">
      <%= image_tag("Jaclyn5") %>
    </div>
    <div class="photo">
      <%= image_tag("Jaclyn6") %>
    </div>
  </div>
  <div class="modal" onclick="closeModal()">
    <%= image_tag '', id: 'modalImage', alt: 'Modal Image' %>
  </div>
</div>