<div class="portraits-head">
  <h1>Portraits</h1>
</div>
<br>
<br>
<div class="gallery-container">
  <div class="portrait-gallery">
    <div class="photo">
      <%= image_tag "Jaclyn1.jpg" %>
    </div>
    <div class="photo">
      <%= image_tag "Jaclyn2.jpg" %>
    </div>
    <div class="photo">
      <%= image_tag "Jaclyn3.jpg" %>
    </div>
    <div class="photo">
      <%= image_tag "Jaclyn.jpg" %>
    </div>
    <div class="photo">
      <%= image_tag "Jaclyn5.jpg" %>
    </div>
    <div class="photo">
      <%= image_tag "Jaclyn6.jpg" %>
    </div>
  </div>
  <div class="modal" onclick="closeModal()">
    <%= image_tag '', id: 'modalImage', alt: 'Modal Image' %>
  </div>
</div>