<% flash.each do |key, value| %>
  <div class="alert alert-<% key %>">
    <%= value %>
  </div>
<% end %>

<div class="booking-page">

  <%= form_with(model: @contact, url: booking_index_path,  data: {turbo: false}) do |form| %>
  
  <div class="name-fields">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <%= form.label :last_name %>
  <%= form.text_field :last_name, class: "form-control" %>

  <%= form.label :email %>
  <%= form.email_field :email, class: "form-control" %>

  <%= form.label :message %>
  <%= form.text_area :message, class: "form-control" %>

  <% end %>

</div>