<div class="port-container">

  <div class="port-blurb">
   
  </div>

  <div class="portraits-section">
    <div class="portraits-section-item">
      <%= image_tag("Jaclyn (1).jpg")%>
      <%= image_tag("Jaclyn (2).jpg")%>
      <%= image_tag("Jaclyn (3).jpg")%>
      <%= image_tag("Jaclyn (4).jpg")%>
      <%= image_tag("Jaclyn (5).jpg")%>
      <%= image_tag("Jaclyn (6).jpg")%>
      <%= image_tag("Jaclyn (7).jpg")%>
      <%= image_tag("Jaclyn (8).jpg")%>
      <%= image_tag("Jaclyn (9).jpg")%>
      <%= image_tag("Jaclyn (10).jpg")%>
      <%= image_tag("Jaclyn (11).jpg")%>
    </div>
  </div>

  

</div>