<!DOCTYPE html>
<html>
  <head>
    <title>Photoport</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "portfolio", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="nav">
      <%# <div class="logo">Logo</div> %>
      <%= image_tag("logo.jpg", class: "logo") %>
      <ul class="navlist">
        <%= link_to "Home", root_path, class: "nav-item" %>
        <%= link_to "Portfolio", portfolio_path, class: "nav-item" %>
      </ul>
      <div class="social-icons">
        <%= link_to "https://www.instagram.com/k.dub_photography", target: "_blank" do %>
          <ion-icon name="logo-instagram" id="instagram"></ion-icon>
        <% end %>
        <%= link_to "https://www.facebook.com/kdubphotographyco", target: "_blank" do %>
          <ion-icon name="logo-facebook" id="facebook"></ion-icon>
        <% end %>
        <%= link_to "https://www.pinterest.com/theactualkyle/", target: "_blank" do %>
          <ion-icon name="logo-pinterest" id="pinterest"></ion-icon>
        <% end %>
        <%= mail_to "k.dubphotographyco@gmail.com", target: "_blank" do %>
          <ion-icon name="mail-outline" id="email"></ion-icon>
        <% end %>
      </div>
      <div class="burger-menu">&#9776</div>
    </div>

    
    <%# <footer>
      <p>Created by K.Dub Photogrpahy owner Kyle Williamson. <span>&copy;</span>2024</p>
    </footer> %>

    <%= yield %>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
  </body>
</html>
